@import url("https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Rock+Salt&family=Sacramento&display=swap");

.App {
  text-align: center;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.NavBar {
  position: absolute;
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  padding: 16px;
  display: flex;
  color: black;
  width: 100%;
  position: fixed;
  z-index: 1001;
  top: 0;
  box-shadow: 0 8px 6px -6px #646464;
  background-color: #efe6d9;
}

.nav-links {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  display: flex;
  margin-right: 20px;
}

.NavBar a,
.logo {
  text-decoration: none;
  position: relative;
  margin-bottom: 0px;
  padding-bottom: 5px;
  color: inherit;
  transition: all 0.4s ease 0s;
  cursor: pointer;
  margin-right: 10px;
  letter-spacing: 2px;
  font-size: 0.8rem;
}

.logo {
  text-transform: uppercase;
  margin-left: 20px;
}

body {
  height: 100%;
  background: linear-gradient(90deg, #fff 50%, #c4a484 50%);
}

.home-page {
  margin-top: 300px;
  margin-bottom: 300px;
}

.home-left,
.home-right,
.aboutme-left,
.aboutme-right,
.projects-right,
.contact-left {
  letter-spacing: 2px;
  position: relative;
  font-weight: bolder;
}

.home-left,
.home-right {
  font-size: 54px;
}

.home-right {
  left: 264px;
  color: #efe6d9;
}

.aboutme-left,
.contact-left {
  right: 152px;
}

.home-left,
.aboutme-left,
.contact-left {
  color: #c4a484;
}

.home-left {
  right: 205px;
}

.aboutme-page,
.contact-page {
  margin-bottom: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.aboutme-title,
.contact-title {
  font-size: 54px;
  position: relative;
}

.aboutme-title {
  left: 68px;
}

.contact-title {
  left: 49px;
}

.aboutme-summary,
.contact-summary {
  font-size: 24px;
  position: relative;
  width: 500px;
  right: 55px;
  text-align: right;
}

.projects-page {
  margin-bottom: 300px;
}

.projects-title {
  font-size: 54px;
  position: relative;
  left: 120px;
  color: #efe6d9;
}

.Projects {
  padding: 15px;
  margin: 6;
  height: 100%;
}

#project-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 2em;
  overflow: auto;
}

.card-body {
  background: #fff 50%;
  background-size: cover;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.3s ease-in-out;
}

.card-body:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  transform: translate3D(0, -1px, 0);
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 20px;
}

.card-content a {
  display: block;
  color: #6a737d;
}

.card-title {
  margin: 0 0 0.5em;
  font-size: 20px;
}

.project-code {
  display: block;
  margin-bottom: 4px;
  color: #738a94;
  font-size: 12px;
  line-height: 1.15em;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.card-footer {
  display: flex;
  flex-direction: row;
  padding: 5px;
}

.card-footer i {
  margin-left: 4px;
  margin-right: 4px;
}

#repoLink {
  margin-left: -15px;
}

.card-content i:hover {
  color: #6a737d !important;
}
